.header__lang-link {
  text-decoration: none;
  line-height: 28px;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  transition: 0.3s;
  margin: 0;
}
.header__lang-link:hover {
  opacity: 0.6;
}
@media screen and (max-width: 424px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
