.lead__image {
  max-width: 984px;
  max-height: 615px;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 100%;
  }
}
@media screen and (max-width: 928px) {
  .lead__image {
    max-width: 100%;
  }
}
@media screen and (max-width: 424px) {
  .lead__image {
    max-width: 100%;
  }
}
